{% if site.ad %}
<section>
  <h1>(AD)广告位空缺中,招租</h1>
  <div>
  <li>
  <iframe name="alimamaifrm" frameborder="0" marginheight="0" marginwidth="0" border="0" scrolling="no" width="260" height="69" src="http://www.taobao.com/go/app/tbk_app/tb_search.php?pid=mm_47294083_4254782_14422509&g_taobao=1&g_style=1&g_lg=1&g_w=260&g_h=69&g_btn=1&g_txt=&g_hot=1&g_hc=0065FF&g_cid=0&g_c=0" ></iframe>
  </li>
  <li><a href="http://s.click.taobao.com/t?e=zGU34CA7K%2BPkqB05%2Bm7rfGGjlY60oHcc7bkKOQYmLpZqSXrGCK59hoQ7W1YJOECnbym1tV9CA%2B3%2FJg8VqWPzGzEl%2BXDq&pid=mm_47294083_0_0">天猫活动中心</a>    <a href="http://ai.taobao.com/?pid=mm_47294083_4254782_14424382&eventid=101329">爱淘宝</a></li>
  <li>
  <iframe name="alimamaifrm" frameborder="0" marginheight="0" marginwidth="0" border="0" scrolling="no" width="260" height="200" src="http://www.taobao.com/go/app/tbk_app/chongzhi_210_200.php?pid=mm_47294083_4254782_14422485&page=chongzhi_210_200.php&size_w=260&size_h=200&stru_phone=1&stru_game=1&stru_travel=1&size_cat=cst" ></iframe>
  </li>
  <li>
  <script type="text/javascript">
     document.write('<a style="display:none!important" id="tanx-a-mm_47294083_4254782_14422961"></a>');
     tanx_s = document.createElement("script");
     tanx_s.type = "text/javascript";
     tanx_s.charset = "gbk";
     tanx_s.id = "tanx-s-mm_47294083_4254782_14422961";
     tanx_s.async = true;
     tanx_s.src = "http://p.tanx.com/ex?i=mm_47294083_4254782_14422961";
     tanx_h = document.getElementsByTagName("head")[0];
     if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);
  </script>
  </li>
  </div>
</section>

{% endif %}
