<!-- Bogou.tv 播狗外链播放器开始 -->
<div>
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="640" height="393">
		<param name="movie" value="http://bogou.tv/swfs/BogouExternalPlayer.swf" />
		<param name="loop" value="false" />
		<param name="menu" value="false" />
		<param name="quality" value="best" />
		<param name="scale" value="noscale" />
		<param name="salign" value="tl" />
		<param name="wmode" value="direct" />
		<param name="allowfullscreen" value="true" />
		<param name="allowscriptaccess" value="sameDomain" />
		<param name="flashvars" value="u=8176" />

		<object type="application/x-shockwave-flash" data="http://bogou.tv/swfs/BogouExternalPlayer.swf" width="640" height="393">
			<param name="loop" value="false" />
			<param name="menu" value="false" />
			<param name="quality" value="best" />
			<param name="scale" value="noscale" />
			<param name="salign" value="tl" />
			<param name="wmode" value="direct" />
			<param name="allowfullscreen" value="true" />
			<param name="allowscriptaccess" value="sameDomain" />
			<param name="flashvars" value="u=8176" />

			<a href="http://get.adobe.com/cn/flashplayer/">
				<img src="http://bogou.tv/images/getFlashPlayer.gif" alt="Get Adobe Flash player" />
				<p>请更新您的 Flash Player 到最新版本</p>
			</a>

		</object>

	</object>
</div>
<!-- Bogou.tv 播狗外链播放器结束 -->